@charset "ISO-8859-1";

#createForm {
	background:
		url(https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)
		center no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.mainContainer {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-container {
	border-radius: 20px;
	overflow: hidden;
}

.getstarted-col {
	background-image:
		url(https://images.pexels.com/photos/699466/pexels-photo-699466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	background-position: center;
	background-size: cover;
	border-radius: 20px;
}

.getstarted-col .content:after {
	background: rgb(12, 37, 68);
	background: linear-gradient(90deg, rgba(12, 37, 68, 1) 0%,
		rgba(23, 53, 95, 1) 35%, rgba(26, 72, 111, 1) 100%);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.95;
	content: '';
	z-index: 0;
	border-radius: 15px;
}

.content-icon img {
	max-width: 200px;
}

.child-w-100>* {
	width: 100%;
	z-index: 1;
}

/* BUTTONS */
.btn.btn-semitransparent {
	background: #ffffff40;
	color: #fff;
}

.signup-options-list button {
	width: 100%;
	transition: 0.2s background-color ease-in-out;
}

.signup-options-list button:hover {
	background-color: #fffbe7;
}

/* colors */
.text-secondary2 {
	color: #cdcdcd;
}

.icon-fb {
	color: #3B5997;
}

.icon-google {
	color: #F44242;
}

/* INPUTS */
.default-input {
	width: 100%;
	border: 1px solid #cccccc70;
	background: #EBF3F5;
	padding-right: 30px;
}

.icon-feedback {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translate(0, -50%) scale(1.15);
}

.show-password {
	position: absolute;
	top: 50%;
	right: -25px;
	transform: translate(0, -50%) scale(1.25);
	opacity: 0.45;
	transition: 0.2s all ease-in-out;
}

.show-password:hover {
	opacity: 1;
}

.show-password .icon {
	display: none;
}

.show-password.show .fa-eye-slash.icon {
	display: block;
	cursor: pointer;
}

.show-password:not(.show) .fa-eye.icon {
	display: block;
	cursor: pointer;
}

form {
	width: 85%;
	margin: 0 auto;
}

.form-select {
	border: 1px solid #cccccc70;
	background: #EBF3F5;
	padding-right: 30px;
}

@media screen and (min-width: 768px) {
	.column {
		width: 50%;
	}
	.content-icon img {
		max-width: 270px;
	}
}

@media screen and (min-width: 991px) {
	.icon-feedback {
		transform: translate(0, -50%) scale(1.5);
	}
}

@media screen and (min-width: 1024px) {
	.content-icon img {
		max-width: 350px;
	}
	form {
		width: 23rem;
	}
	.show-password {
		right: -30px;
	}
}

@media screen and (min-width: 1366px) {
	.signup-options-list button {
		width: 49%;
	}
	.form-wrapper {
		width: 450px;
	}
}