<div class="container mt-5">
  <h2>Add Branch</h2>
  <div *ngIf="alertMessage" class="alert" [ngClass]="alertClass">
    {{ alertMessage }}
  </div>
  <form (ngSubmit)="onSubmit(branchForm)" #branchForm="ngForm">
    
    <div class="form-group">
      <label for="ifsc">IFSC</label>
      <input type="text" id="ifsc" name="ifsc" class="form-control" required ngModel>
    </div>

    <div class="form-group">
      <label for="buildingName">Building Name</label>
      <input type="text" id="buildingName" name="buildingName" class="form-control" required ngModel>
    </div>

    <div class="form-group">
      <label for="street">Street</label>
      <input type="text" id="street" name="street" class="form-control" required ngModel>
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input type="text" id="city" name="city" class="form-control" required ngModel>
    </div>

    <div class="form-group">
      <label for="state">State</label>
      <input type="text" id="state" name="state" class="form-control" required ngModel>
    </div>

    <div class="form-group">
      <label for="country">Country</label>
      <input type="text" id="country" name="country" class="form-control" required ngModel>
    </div>

    <div class="form-group">
      <label for="zipcode">Zipcode</label>
      <input type="number" id="zipcode" name="zipcode" class="form-control" required ngModel>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
