<back></back>
<div class="container mt-5">
    <div class="row">

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-university"></i> Transaction Channels
                    </h5>
                    <p class="card-text">Manage All Transacation Channels.</p>
                    <a [routerLink]="['/admin/transaction-channels']" class="btn btn-primary">Manage Transaction Channels</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-plus-circle"></i> Transaction Types
                    </h5>
                    <p class="card-text">Manage All Transacation Types.</p>
                    <a [routerLink]="['/admin/transaction-types']" class="btn btn-primary">Transaction Types</a>
                </div>
            </div>
        </div>
    </div>
</div>