<ngb-alert
  [type]="alert.type"
  [ngClass]="{ 'slide-in': showAlert, 'slide-out': !showAlert }"
  [dismissible]="false"
  *ngIf="showAlert"
>
  {{ alert.message }}
</ngb-alert>
<div class="wrapper forgot-password">
  <a (click)="goBack()">
    <span class="icon-close"><i class="fas fa-times"></i></span>
  </a>

  <h2>Reset Password</h2>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="input-box">
      <span class="icon"><i class="fas fa-envelope"></i></span>
      <input formControlName="email" type="email" required />
      <label>Email</label>
      <div
        *ngIf="
          forgotPasswordForm.get('email')?.invalid &&
          forgotPasswordForm.get('email')?.touched
        "
        class="error"
      >
        <small *ngIf="forgotPasswordForm.get('email')?.errors?.['required']"
          >*Email is required.</small
        >
        <small *ngIf="forgotPasswordForm.get('email')?.errors?.['email']"
          >*Invalid email format.</small
        >
      </div>
    </div>

    <div class="input-box">
      <span class="icon"><i class="fas fa-lock"></i></span>
      <input formControlName="newPassword" type="password" required />
      <label>New Password</label>
      <div
        *ngIf="
          forgotPasswordForm.get('newPassword')?.invalid &&
          forgotPasswordForm.get('newPassword')?.touched
        "
        class="error"
      >
        <small
          *ngIf="forgotPasswordForm.get('newPassword')?.errors?.['required']"
          >*Password is required.</small
        >
        <small
          *ngIf="forgotPasswordForm.get('newPassword')?.errors?.['minlength']"
          >*Password must be at least 8 characters long.</small
        >
        <small
          *ngIf="forgotPasswordForm.get('newPassword')?.errors?.['pattern']"
          >*Password must contain one uppercase letter, one lowercase letter,
          one number, and one special character.</small
        >
      </div>
    </div>

    <div class="input-box">
      <span class="icon"><i class="fas fa-lock"></i></span>
      <input formControlName="confirmPassword" type="password" required />
      <label>Confirm Password</label>
      <div
        *ngIf="
          forgotPasswordForm.get('confirmPassword')?.invalid &&
          forgotPasswordForm.get('confirmPassword')?.touched
        "
        class="error"
      >
        <small
          *ngIf="forgotPasswordForm.get('confirmPassword')?.errors?.['required']"
          >*Confirm password is required.</small
        >
      </div>
      <div
        *ngIf="forgotPasswordForm.errors?.['passwordMismatch'] && forgotPasswordForm.get('confirmPassword')?.touched"
        class="error"
      >
        <small>*Passwords do not match.</small>
      </div>
    </div>

    <button type="submit" class="btn">Reset</button>
  </form>
</div>
